doctype html

html
	head
	body
		p Hello Administrator,

		p A new comment has been added to "#{X_SITENAME}". You should review before publication.

		p You can see the comment in #{X_COMMENTURL}.

		p Thank you

		a(href=X_SITEURL)=SITEURL
