doctype html

html
	head
		title=X_SUBJECT
	body(style="color:#000;font-family:Arial,sans-serif;")
		div(style="min-width:270px;max-width:820px;margin:0 auto;")
			div(style="text-align:center;font-style:italic;background-color:#ffbb00;color:#000000;padding:20px 20px 0 20px;margin-top:20px;")
				div(style="vertical-align:top;margin:0 auto;max-width:410px;min-height:250px;line-height:21px;")
					h3(style="font-size:x-large;font-weight:normal;margin:0;") ¡Hola cariño!
					p(style="font-size:large;margin-bottom:0;") Soy #{X_ITEM_TITLE}, ¿me echabas de menos?
					p(style="font-size:medium;margin-top:0;") He vuelto a 
						a(href=X_SITEURL,target="_blank",style="color:#ffffff;")=X_SITEURL
					
					div(style="width:180px;min-height:45px;text-align:center;font-size:medium;border:1px solid #000000;padding:8px;margin:9px auto;")
						a(href=X_ITEM_URL,target="_blank",style="height:43px;font-style:normal;color:#000000;text-decoration:none;") ¿me recuerdas?
							br
							| reserva ya