doctype
html
	head
		title=X_SUBJECT
	body(style="font-family:Arial,sans-serif;")
		div(style="min-width:270px;max-width:820px;margin:0 auto;text-align:center;")
			a(href="https://www.apricots.es",target="_blank",style="border:none;")
				img(src="https://www.apricots.es/s/img/logo-apricots.jpg",style="border:none;")
			div(style="text-align:center;font-style:italic;background-color:#ffbb00;color:#000000;padding:20px;margin-top:20px;")
				div(style="vertical-align:top;margin:0 auto;max-width:410px;line-height:21px;")
					p(style="font-weight:normal;margin:8px;") Ciao! Abbiamo risposto al commento che hai pubblicato su 
						span
							a(href=X_PAGE_LINK,target="_blank",style="color:#000000;margin-left:8px;display:inline-block;") apricots.es
				p(style="font-size:small;color:#000000;padding:10px 0;")=X_ANSWER
			
			p(style="font-size:small;color:#000000;padding:10px 0;") Per eventuali domande o suggerimenti, è possibile contattare il Servizio Clienti inviando una e-mail a
				a(href="mailto:administracion@apricots.es",style="color:#999999;margin-left:3px;") administracion@apricots.es