doctype html

html(lang=lang)
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(charset="UTF-8")
		link(rel="shortcut icon", href="/favicon.ico")
		script src=""
	body
		video(controls, poster= staticHost + video.thumb)
			source(type="video/mp4", src= video.versions.mp4)
			source(type="video/webm", src= video.versions.webm)
			<span>Tu navegador no soporta el elemento</span>