extends base

block body
	#home-page.ui-page(data-role="page", data-theme="c")
		.ui-header(data-role="header", data-theme="b", data-position="fixed")
			h1.ui-title Site Video upload's page

		.ui-content
			if Object.keys(videouploader).length
				ul.colSel(data-role="listview", data-count-theme="b", data-inset="true")
					each tt, code in videouploader
						li
							a(href="#" + code)= code
								span.ui-li-count= Object.keys(tt.items).length
			else
				h4.ui-body.ui-body-a.ui-corner-all No hay campos con video en este sitio web

	#collection-page.ui-page(data-role="page", data-theme="c")
		.ui-header(data-role="header", data-theme="b", data-position="fixed")
			a.ui-btn-left.ui-link.ui-btn.ui-icon-carat-l.ui-btn-icon-left.ui-shadow.ui-corner-all(href="#home-page") Volver
			h1.ui-title collection

		.ui-content
			ul#itemSel(data-role="listview", data-inset="true")

	#item-page.ui-page(data-role="page")
		.ui-header(data-role="header", data-theme="b", data-position="fixed")
			a.ui-btn-left.ui-link.ui-btn.ui-icon-carat-l.ui-btn-icon-left.ui-shadow.ui-corner-all(href="#collection-page") Volver
			h1.ui-title item

		.ui-content
			ul#fieldSel(data-role="listview", data-inset="true")

	#field-page.ui-page(data-role="page")
		.ui-header(data-role="header", data-theme="b", data-position="fixed")
			a.ui-btn-left.ui-link.ui-btn.ui-icon-carat-l.ui-btn-icon-left.ui-shadow.ui-corner-all(href="#collection-page") Volver
			h1.ui-title field

		.ui-content
			form#fieldForm
				ul(data-role="listview", data-inset="true")
					li(data-role="list-divider")
					li.ui-field-contain
						label Video
						div(style="display: inline-block;width:78%")
							#video-gal
							input#video-input(type="file", accept="video/*", multiple)