extends layout

block content
	div(style="text-align: center")
		video(controls, poster= staticHost + video.thumb)
			source(type="video/mp4", src= video.versions.mp4)
			source(type="video/webm", src= video.versions.webm)
			span Tu navegador no soporta el elemento